@charset "utf-8";

.rpContainer {
    width: 120%;
}
.rp-installment-plan-description {
    display: none;
}
#rp-installment-plan-details {
    display: none;
}
#rp-installment-plan-no-details {
    display: block;
}
#rp-hide-installment-plan-details {
    display: none;
}
#rp-show-installment-plan-details {
    display: block;
}
.rp-table-striped {
    width: 90%;
}
.rp-menue,
.rp-installment-plan-details,
.rp-installment-plan-no-details {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0px 3px;
    padding: 13px 6px;
}

.rp-installment-plan-details:nth-child(odd) {
    background-color: #f9f9f9;
}

.rp-installment-plan-title {
    float: left;
}
.warning {
    background-color: #fcf8e3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 0px;
}
.text-center {
    padding: 10px 0px;
    border-top: 1px solid #ddd
}